.agregrarFicha
	width 80%
	text-align left

	input, textarea
		width 70%
		margin-left 2em

	div
		div
			display inline-block
			width 20%

.btnGuardar
	margin-top 0 !important
	margin-right 2px !important
	float right

.lineaCampo
	display block !important
	width 100%
	margin 0.5em

	.valorCampo
		font-size 90%
		
	.datepicker, .numero
		width 20%
		min-width 100px

	div
		display inline-block

#ui-datepicker-div
	font-size 62.5%

.requerido
	box-shadow  0 0 4px rgba(255,127,39,1) 

	
