.panel
	height 100px
	display inline-block
	width 50%
	vertical-align top
	text-aling center

	.controles
		width 100%

		a
			display inline-block
			margin 0.1em
			padding 0 5px
			border solid 2px #000
			margin-right 0.2em
			border-radius 1em
			text-decoration none
			color #EEE
			background-color #000

	#textplatilla
		width 100%
		border 1px solid
		padding-left 1em
		clear both
		min-height 350px
		height 100%
		padding-bottom 1em
		overflow-x scroll

		div
			border 1px solid
			background-color #eee
			display inline-block
			padding 0.3em
			text-align center !important
			margin auto auto
			margin-right 1em
			margin-top 1em
			cursor pointer
			

		.campoMarcado
			background-color #aaa

.ejmplantilla
	border 1px solid
	border-radius 3px
	box-shadow 4px 4px 2px #aaa
 	
 	div
		display inline-block
	

.negritas
	font-weight bold

.italica
	font-style italic

.subrayado
	text-decoration underline !important

.comillas
	&:before { content: open-quote; }
	&:after  { content: close-quote; }